@font-face {
    font-family: 'BankGothic';
    src: url('../tff/BankGothic.ttf') format('tff');
}

.navbar-brand {
    font-family: 'BankGothic';
}

.container-bg {
    background: black;
}

.card-img-top {
    display: flex;
}