br
.card-deck
        .card
            img.card-img-top(src="../img/Thaicom.png", alt="Thaicom")
            .card-body
                h5.card-title(id='missionName0')
                small.text-muted(id='missionId0')
                p.card-text(id='missionDescr0')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb0') Website
                    a.card-link(href="" id='missionWiki0') Wiki
                    a.card-link(href="" id='missionTwitter0') Twitter
        
        .card
            img.card-img-top(src="../img/Telstar_19V.png", alt="Telstar")
            .card-body
                h5.card-title(id='missionName1')
                small.text-muted(id='missionId1')
                p.card-text(id='missionDescr1')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb1') Website
                    a.card-link(href="" id='missionWiki1') Wiki
                    a.card-link(href="" id='missionTwitter1') Twitter

        .card
            img.card-img-top(src="../img/Iridium_NEXT.png", alt="Iridium")
            .card-body
                h5.card-title(id='missionName2')
                small.text-muted(id='missionId2')
                p.card-text(id='missionDescr2')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb2') Website
                    a.card-link(href="" id='missionWiki2') Wiki
                    a.card-link(href="" id='missionTwitter2') Twitter
        
        .card
            img.card-img-top(src="../img/Thaicom.png", alt="Thaicom")
            .card-body
                h5.card-title(id='missionName0')
                small.text-muted(id='missionId0')
                p.card-text(id='missionDescr0')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb0') Website
                    a.card-link(href="" id='missionWiki0') Wiki
                    a.card-link(href="" id='missionTwitter0') Twitter