.container
    .card-deck.h-75.w-75.align-middle.justify-content-center
        .card.bg-dark.text-white
            img.card-img-top(src='../img/Crew1.webp', alt='Crew member number 1')
            .card-body
                h5.card-title(id='crew_member_name0')
                p.card-text(id='crew_member_agency0')
                p.card-text
                    small.text-muted(id='crew_member_status0')
        .card.bg-dark.text-white
            img.card-img-top(src='../img/Crew2.webp', alt='Crew member number 2')
            .card-body
                h5.card-title(id='crew_member_name1')
                p.card-text(id='crew_member_agency1')
                p.card-text
                    small.text-muted(id='crew_member_status1')