.footer-copyright.text-center.py-e 
    p I don't own anything. 
      | All rights about SpaceX information goes to Ellon Mask and SpaceX. 
      | I just have fun with API :) 
    a(href='https://mdbootstrap.com/') MDBootstrap.com