header.masthead(style='background-image:url("../img/main-bg-3.webp");')
    .container
        .intro-text
            .intro-lead-in
                span SpaceX Fan Site
            .intro-heading.text-uppercase
                span Explore all about spaceadventures
            a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(role='button', href='#') Let's go