.container
    br
    .card-deck
        .card.bg-dark.text-white
            img.card-img-top(src="../img/Thaicom.png", alt="Thaicom")
            .card-body
                h5.card-title(id='missionName0')
                small.text-muted(id='missionId0')
                p.card-text(id='missionDescr0')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb0') Website
                    a.card-link(href="" id='missionWiki0') Wiki
                    a.card-link(href="" id='missionTwitter0') Twitter
        
        .card.bg-dark.text-white
            img.card-img-top(src="../img/Telstar_19V.png", alt="Telstar")
            .card-body
                h5.card-title(id='missionName1')
                small.text-muted(id='missionId1')
                p.card-text(id='missionDescr1')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb1') Website
                    a.card-link(href="" id='missionWiki1') Wiki
                    a.card-link(href="" id='missionTwitter1') Twitter

        .card.bg-dark.text-white
            img.card-img-top(src="../img/Iridium_NEXT.png", alt="Iridium")
            .card-body
                h5.card-title(id='missionName2')
                small.text-muted(id='missionId2')
                p.card-text(id='missionDescr2')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb2') Website
                    a.card-link(href="" id='missionWiki2') Wiki
                    a.card-link(href="" id='missionTwitter2') Twitter
    br
    .card-deck
        .card.bg-dark.text-white
            img.card-img-top(src="../img/SpaceX_CRS-10.png", alt="CRS")
            .card-body
                h5.card-title(id='missionName3')
                small.text-muted(id='missionId3')
                p.card-text(id='missionDescr3')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb3') Website
                    a.card-link(href="" id='missionWiki3') Wiki
                    a.card-link(href="" id='missionTwitter3') Twitter

        .card.bg-dark.text-white
            img.card-img-top(src="../img/SES.png", alt="SES")
            .card-body
                h5.card-title(id='missionName4')
                small.text-muted(id='missionId4')
                p.card-text(id='missionDescr4')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb4') Website
                    a.card-link(href="" id='missionWiki4') Wiki
                    a.card-link(href="" id='missionTwitter4') Twitter

        .card.bg-dark.text-white
            img.card-img-top(src="../img/JCSAT-14_patch.png", alt="JSCAT")
            .card-body
                h5.card-title(id='missionName5')
                small.text-muted(id='missionId5')
                p.card-text(id='missionDescr5')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb5') Website
                    a.card-link(href="" id='missionWiki5') Wiki
                    a.card-link(href="" id='missionTwitter5') Twitter
    br
    .card-deck
        .card.bg-dark.text-white
            img.card-img-top(src="../img/AsiaSat_6.png", alt="AsiaSat")
            .card-body
                h5.card-title(id='missionName6')
                small.text-muted(id='missionId6')
                p.card-text(id='missionDescr6')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb6') Website
                    a.card-link(href="" id='missionWiki6') Wiki
                    a.card-link(href="" id='missionTwitter6') Twitter

        .card.bg-dark.text-white
            img.card-img-top(src="../img/Orbcomm-2.png", alt="Orbcomm")
            .card-body
                h5.card-title(id='missionName7')
                small.text-muted(id='missionId7')
                p.card-text(id='missionDescr7')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb7') Website
                    a.card-link(href="" id='missionWiki7') Wiki
                    a.card-link(href="" id='missionTwitter7') Twitter

        .card.bg-dark.text-white
            img.card-img-top(src="../img/ABS-2A.png", alt="ABS")
            .card-body
                h5.card-title(id='missionName8')
                small.text-muted(id='missionId8')
                p.card-text(id='missionDescr8')
            .card-footertext-center
                small.text-muted
                    a.card-link(href="" id='missionWeb8') Website
                    a.card-link(href="" id='missionWiki8') Wiki
                    a.card-link(href="" id='missionTwitter8') Twitter
    br
    .card-deck
        .card.bg-dark.text-white
            .card-body
                h5.card-title(id='missionName9')
                small.text-muted(id='missionId9')
                p.card-text(id='missionDescr9')
            .card-footer.text-center
                small.text-muted
                    a.card-link(href="" id='missionWeb9') Website
                    a.card-link(href="" id='missionWiki9') Wiki
                    a.card-link(href="" id='missionTwitter9') Twitter
    br

script(src="../js/missions.js")
    

    
    
