nav.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-dark
    .container
        a.navbar-brand(href='#page-top') SpaceX Fan
        button.navbar-toggler.navbar-toggler-right(data-target='#navbarResponsive', data-toggle='collapse', type='button', aria-controls='navbarResponsive', aria-expended='false', aria-label='Toggle navigation')
            i.fa.fa-bars
        .collapse.navbar-collapse(id='navbarResponsive')
            ul.nav.navbar-nav.ml-auto.text-uppercase
                li.navitem(role='presentation') 
                    a.nav-link.js-scroll-trigger(href='#') About
                li.navitem(role='presentation') 
                    a.nav-link.js-scroll-trigger(href='#crew') Crew
                li.navitem(role='presentation') 
                    a.nav-link.js-scroll-trigger(href='#missions') Missions
                li.navitem(role='presentation') 
                    a.nav-link.js-scroll-trigger(href='#') Capsules